@import "tailwindcss";

@media print {
    @page {
        size: A4;
        margin: 15mm; /**/
    }

    .print-container {
        transform: scale(1);
        transform-origin: top center; /* Escala a partir do topo central */
        /* width: 142.8%;  Compensação matemática: 100% / 0.7 */
        /* margin-left: -21.4%;  Centraliza o conteúdo após o aumento da largura */
    }

    /* Força a renderização de cores e fundos */
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    /* Esconde elementos desnecessários como o botão de gerar */
    .no-print {
        display: none !important;
    }

    /* Garante que o fundo não saia preto absoluto para economizar tinta, 
     mas mantenha a estética */
    body {
        background: white !important;
        color: black !important;
    }

    /* Ajusta os cards para ficarem legíveis no papel */
    .bg-slate-900,
    .bg-slate-800 {
        background: #f8fafc !important; /* Slate 50 */
        border: 1px solid #e2e8f0 !important; /* Slate 200 */
        color: #0f172a !important; /* Slate 900 */
    }

    .text-amber-500,
    .text-amber-400 {
        color: #b45309 !important; /* Amber 700 para contraste no branco */
    }
}

html {
    background-color: gray;
    /*width: 100vw; */
    /*height: 100vh;*/

    width: 100vw;
    height: 100vh;
}
